.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  .header .row {
    width: 100%; }
  .header .header__logo {
    padding: 10px 20px; }
  .header .header__nav {
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    .header .header__nav .header-nav__item {
      padding: 10px;
      color: #fff; }

.vr-scene {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 0; }

.top-section {
  position: relative;
  height: 100%; }
  .top-section .top-section__interface {
    height: 100%;
    z-index: 2;
    position: relative;
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.7) 100%); }
  .top-section .top-section__container {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .top-section .centered-block {
    color: #ffffff; }

.interface-view-mode {
  z-index: 2;
  position: relative; }

.interface-view-mode__btn {
  fill: #000; }

body {
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden; }

.container {
  max-width: 1440px;
  width: 100%; }

.main-interface {
  height: 100%; }
